*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;/* default font size is 16px */
    color:#333;
    background-color: #fff;
}

header{
    border-bottom: 1px solid #17a2b8;
    width: 100%;
    position: relative;
    display: inline-flex;
    text-align: center;
    justify-content: space-around;
    padding: 25px;
    background-color: #333;
    
}

.logo{
    float: left;
    color: white;
    font-size: 20px;
}
.logo img{
    width: 500px;
}

nav ul{
    list-style-type: none;
    float: right;
}

nav li{
    display: inline-block;
}

nav a{
    display: block;
    color: #ffffff;
    padding: 5px 20px;
    text-decoration: none;
}
nav a:hover{
    background-color: #17a2b8;
}

.show{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/dog.jpg);
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    max-width: 100%;
    background-position: center;
}

.show-items{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%,-50%);
    text-align: center;
}
.show-items h2{
    font-size: 50px;
}
.show-items p{
    font-size: 20px;
    margin-bottom: 20px;
}

.button{
    border: 1px solid white;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
}
.button:hover{
    background-color: #17a2b8
}

main{
    background-color: #fff;
    margin: 0 auto;
    
}
.friends{
    width: 80%;
    padding-left: 20%;

}
#heading{
    text-align: center;
  
}

.box{
    width: 33.33%;
    float: left;
    padding: 25px;
    

}
.box h2{
    text-align: center;
}
.box img{
    width: 100%;
    height: 100%;
    margin: 0;
    size: 150px;
    border: #17a2b8 solid 2px;
}
.box p{
   width: auto;
   height: 200px;
   text-align: center;
}

.clearfix{
    clear: both;
}

footer{
    height: 100px;
    background-color: #333;
    color: #17a2b8;
    text-align: center;
    position: relative;
}
footer p{
    line-height: 150px;
}
footer nav{
    border: #17a2b8 solid 2px;
    color: #fff;
    padding: 0.5em 2em;
    text-decoration: none;
    position: absolute;
    top: 25%;
    right: 10%;
    
}

/* Media Queries */
/* @media only screen and (max-width: 600px){ */
    /* Write my conditions */
   /* body{
        background-color: red;
    }
} */
@media(max-width:750px){
    header{
        width: 100%;
        border-bottom: none;
        position: absolute;
        display: block;
        padding: 10px;
    }
    .logo{
        float: left;
    }
    nav ul{
        float: none;
        padding-top: 20px;
    }
    nav li{
        display: block;
        border-bottom: 1px solid #17a2b8;
        margin-bottom: 20px; 
    }
    nav {
        display: block;
    }
    footer{
        height: auto;
    }
    footer nav{
        display: inline-block;
        width: auto;
        border: none;
        position: unset;
    
    }
    .show-items{
        padding-top: 35%;
    }
    .show-items h2{
        margin-bottom: 20px;
        font-size: 30px;
    }
    .show-items p{
        font-size: 15px;
    }
    .box{
        width: 100%;
        float: none;
        text-align: center;
        border: #17a2b8 solid 2px;

    }
}
